/* line 1, ../_sass/site.scss */
.page-content {
  margin-left: 185px;
  margin-top: 35px;
  width: 80%;
}

/* line 7, ../_sass/site.scss */
.component-heading {
  color: #BBB;
  font-size: 36px;
  margin-top: 100px;
  margin-bottom: 50px;
  padding-bottom: 20px;
  border-bottom: 1px dashed #BBB;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
}

/* Navigation Sidebar */
/* line 19, ../_sass/site.scss */
#cssmenu {
  background: #333;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 9em;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 99999;
}

/* line 31, ../_sass/site.scss */
#cssmenu ul {
  padding: 0;
}

/* line 34, ../_sass/site.scss */
#cssmenu li {
  font: 80% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
  margin: 10;
  padding: 0;
  list-style: none;
}

/* line 40, ../_sass/site.scss */
#cssmenu a {
  background: #333;
  border-bottom: 1px solid #393939;
  color: #ccc;
  display: block;
  margin: 0;
  padding: 16px 20px;
  text-decoration: none;
  font-weight: normal;
}

/* line 50, ../_sass/site.scss */
#cssmenu a:hover {
  background: #fff;
  color: #A82439;
  padding-bottom: 16px;
}

/* ---------- */
/* line 58, ../_sass/site.scss */
#index {
  color: #A82439;
  font-size: 45px;
  text-shadow: 2px 2px 1px #000000;
  padding-bottom: 0.75em;
}

/* line 65, ../_sass/site.scss */
#icons, #organisms, #molecules, #layout {
  padding-top: 1em;
}

/* line 69, ../_sass/site.scss */
#layout {
  padding-top: 3em;
}

/* line 73, ../_sass/site.scss */
#atoms, #molecules, #organisms, #js, #layout, #forms, #error, #icons, #vendor {
  font-size: 40px;
}
