.global {
	section {
		position: relative;
	  z-index: 100;
	  margin: 0 0 0 40%;
	  width: 55%;
	  @include bp(m) {
	  	position: relative;
      z-index: 100;
      margin: 20px 0 0 35% !important;
      width: 300px;
	  }
	  @include bp(xl) {
	  	margin: 20px 0 0 40%;
	  }
	}
}