.media {
	.values & {
		@include bp(m) {
			position: absolute;
			left: 70%;
			top: 20px;
			height: 100%;
		}
	}
	.realize & {
		@include bp(m) {
			position: absolute;
			left: 69%;
			top: 20px;
			height: 100%;
		}
	}
	.exploration & {
		@include bp(m) {
    	position: absolute;
	    height: 100%;
	    left: 57%;
	    top: 12px;
    }
	}
	.global & {
		@include bp(m) {
			position: absolute;
      left: 72%;
      top: 20px;
      height: 100%;
		}
	}
}