.subNavLinks {
  display: none;
  &.last {
  	@include bp(m) {
			left: auto;
      right: 0;
  	}
  }
  .ie8 & {
  	@include bp(m) {
  		border-right: 1px solid $grey;
	    border-bottom: 1px solid $grey;
	    border-left: 1px solid $grey;
  	}
  }
  .csstransitions & {
  	@include bp(m) {
  		visibility: visible;
      left: -99999px;
      opacity: 0;
      @include vendorize(transition, opacity 0.3s ease-in);
  	}
  }
  ul {
  	li {
  		@include bp(m) {
  			border-bottom: 1px solid $cu-light-grey;
  		}
  	}
  	@include bp(m) {
  		background-color: $cu-light-grey;
      list-style-type: none;
  	}
  }
  li a {
  	&:hover {
  		&:after {
  			@include bp(m) {
  				color: $cu-red;
  			}
  		}
  		@include bp(m) {
  			background-color: $white;
        /*font-weight: 600;*/
        color: $cu-red;
  		}
  	}
  	// .ie8 & {
  	// 	@include bp(m) {
  	// 		padding-left: 13px;
	  //     margin-left: 0;
  	// 	}
  	// }
  	@include bp(m) {
  		/*border-bottom: 1px solid $cu-light-grey;*/
      font-size: 16px;
      text-transform: none;
      padding: 16px 13px 16px 13px;
      /* margin: 0 0 0 30px;*/
      color: $grey;
      display: block;
  	}
  }
  @include bp(m) {
  	background-color: #faf9f6;
    -webkit-box-shadow: 0px 10px 10px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 10px 10px 1px rgba(0, 0, 0, 0.2);
    @include vendorize(box-sizing, border-box);
    @include vendorize(transition, opacity 0.3s ease-in);
    width: 275px;
    position: absolute;
    top: 45px;
    z-index: 999999;
    visibility: hidden;
    display: block;
  }
}

.subNav_heading {
  &:first-child {
    @include bp(m) {
    	margin-top: 5px;
    }
  }
  @include bp(m) {
  	font-size: 11px;
	  color: #a2a29e;
	  margin-top: 25px;
	  margin-bottom: 10px;
	  display: block;
  }
}