// Social Network colors
$color-facebook:     #38659f;
$color-twitter:      #3aa8dd;
$color-instagram:    #333333;
$color-pinterest:    #cb2027;


// Element Rows
$color-row-bg:       #FAFAFA;
$color-row-bg-hover: #FFFDF0;
$color-row-border:   #CCCCCC;


// Background colors
$bg-light-gray:      #ecebe5;
$bg-off-white:       #f2f2f0;
$bg-red:             #a82439;


// Type colors
$color-dark-gray:    #353430;


// CU Brand Colors
$color-chapman-red:  #a82439;
$color-chapman-blue: #02bac1;


// Selection colors
$selection-background: rgba(168,36,57,0.875);
$selection-color:    #ffffff;


html { background-color: $bg-light-gray }
