/* CHAPMANU BRANDED FORMS
   ========================================================================== */

/**
 * Configurable Variables
 */
 $input-border: #D8D6D0;
 $input-border-radius: 3px;
 $input-padding: 6px;
 $input-color: $color-dark-gray;
 $input-border-focus: $color-dark-gray;
 $input-placeholder-color: $color-light-gray;
 $cursor-disabled: auto;
 $input-bg-disabled: #EEEEEE;
 $error-color: #cc6700;


/**
 * Form Specific Mixins
 */
@mixin form-control-focus($color) {
	$color-rgba: rgba(red($color), green($color), blue($color), 0.25);
	&:focus {
		border-color: $color;
		outline: 0;
	}
}

@mixin placeholder($color) {
  &::-moz-placeholder {
    color: $color;
    opacity: 1;
  }
  &:-ms-input-placeholder { color: $color; }
  &::-webkit-input-placeholder  { color: $color; }
}

@mixin icon-placeholder($icon, $focus-icon) {
	background-image: inline-image($icon);
	background-repeat: no-repeat;
	background-size: $font-size-base $font-size-base;
	background-position: center left $input-padding;
	text-indent: 1.5em;

	&:focus { background-image: inline-image($focus-icon); }
}

/**
 * Normalize non-controls
 */
fieldset {
	padding: 0;
	margin: 0;
	border: 0;
	min-width: 0;
}

label {
	display: inline-block;
	max-width: 100%;  // Force IE8 to wrap long content
	margin-bottom: 6px;
	margin-right: 6px;
	font-weight: bold;
}

/**
 * Normalize controls
 */

 // (* is not specific enough for this one)
input[type="search"] {
	box-sizing: border-box;
	-webkit-appearance: none;
}

// Position radios and checkboxes nicer
input[type="radio"],
input[type="checkbox"] {
	margin: 4px 0 0;
	margin-top: 1px \9; // IE8-9
	line-height: normal;
}

// Set the height of file controls to match text inputs
input[type="file"] {
	display: block;
}

// Makes range inputs behave like textual form controls
input[type="range"] {
	display: block;
	width: 100%;
}

// Make multiple select elements height not fixed
select[multiple],
select[size] {
	height: auto;
}


/**
 * Chapman University Form Styles
 *
 * These form styles will affect the following form controls:
 * select
 * textarea
 * input[type="text"]
 * input[type="password"]
 * input[type="datetime"]
 * input[type="datetime-local"]
 * input[type="date"]
 * input[type="month"]
 * input[type="time"]
 * input[type="week"]
 * input[type="number"]
 * input[type="email"]
 * input[type="url"]
 * input[type="search"]
 * input[type="tel"]
 * input[type="color"]
 */

.cu-form-control {
	display: block;
	width: 100%;
	border: 1px solid $input-border;
	border-radius: $input-border-radius;
	line-height: $line-height-base;
	color: $input-color;
	font-size: $font-size-base;
	padding: $input-padding;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	@include form-control-focus($input-border-focus);
	@include placeholder($input-placeholder-color);

	&[disabled],
	&[readonly],
	fieldset[disabled] & {
		cursor: $cursor-disabled;
		background-color: $input-bg-disabled;
		opacity: 1;
	}
}

/**
 * Make a grouping of related controls for vertical forms
 */
.cu-form-group {
	margin-bottom: 18px;
}

/**
 * Checkboxes and radios
 */
.radio,
.checkbox {
	position: relative;
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;

	label {
		min-height: $line-height-base;
		font-weight: normal;
		margin-bottom: 0;
		cursor: pointer;
	}
}

/**
 * Inline checkboxes and radios
 */
.checkbox-inline,
.radio-inline {
	display: inline-block;

	label {
		min-height: $line-height-base;
		font-weight: normal;
		margin-bottom: 0;
		cursor: pointer;
	}
}

.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
  margin-top: 0;
  margin-left: 10px; // space out consecutive inline controls
}


/**
 * Speical Input Types
 */
.cu-form-control {
	&.login {
		@include icon-placeholder('icons/user-light-gray.svg', 'icons/user.svg');
	}
	&.password {
		@include icon-placeholder('icons/lock-light-gray.svg', 'icons/lock.svg');
	}

	&.url {
		@include icon-placeholder('icons/globe-light-gray.svg', 'icons/globe.svg');
	}

	&.email {
		@include icon-placeholder('icons/envelope-light-gray.svg', 'icons/envelope.svg');
	}

	&.tel {
		@include icon-placeholder('icons/phone-light-gray.svg', 'icons/phone.svg');
	}

	&.loading {
		@include icon-placeholder('icons/spinning.gif', 'icons/spinning.gif');
	}
}


/**
 * Form Validation
 */

label.required:after {
	content: " *";
}

.cu-form-control {
	&.invalid {
		border: 1px solid $error-color;
		background-color: lighten($error-color, 56%);
	}
}



/**
 * Form messages and tips
 */
.error-message {
		border-radius: 3px;
		color: $error-color;
		display: inline-block;
		margin-bottom: 6px;

		&:before {
			content: " ";
			width: $font-size-base;
			height: $font-size-base;
			display: inline-block;
			background: inline-image("icons/warning-fill-orange.svg");
			margin-right: 6px;
		}
}



.cu-form {

	/**
	 * Text Based Inputs
	 */
	// input[type="email"],
	// input[type="number"],
	// input[type="password"],
	// input[type="search"],
	// input[type="tel"],
	// input[type="text"],
	// input[type="url"],
	// textarea {
	// 	width: 100%;
	// 	display: inline-block;
	// 	border-radius: 3px;
	// 	margin: 6px 0;
	// 	padding: 6px;
	// 	border: 1px solid #eaeaea;
	// }



	// label {
	// 	display: inline-block;
	// 	text-transform: uppercase;
	// 	font-weight: bold;
	// 	margin:0 5px;
	// 	font-size: 14px;


	// }

	// input {
	//
	// 	border: 1px solid #eaeaea;
	// 	margin: 10px 0;
	// 	padding: 10px;

	// 	&.valid {
	// 	}

	// 	&.invalid {
	// 		border: 1px solid #D00000;
	// 		background-color: #F7E9E5;
	// 	}

	// 	&:focus {
	// 		outline: 2px solid #444;
	// 	}
	// }
}
