
/***************************************************
* Font stacks
***************************************************/

$font-stack-body: "proxima-nova-soft", "Helvetica Neue", "Microsoft Sans Serif", sans-serif;
$font-stack-heading: "proxima-nova", "Helvetica Neue", "Microsoft Sans Serif", sans-serif;


/***************************************************
* Links
***************************************************/

a, a:link, a:visited {
	text-decoration: none;
	color: $color-chapman-red;
	cursor: pointer;
}

a:focus, a:hover, a:active {
	color: lighten($color-chapman-red, 10%);
}

p {
	a, a:link { border-bottom: 1px dotted #C0C0C0; }
}


/***************************************************
* Headers and Content
***************************************************/

html {
	box-sizing: border-box;
	font: 100%/1 $font-stack-body;
	‑webkit‑text‑size‑adjust: 100%;

	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

p {
	color: #383838;
	font-size: .875em; /* 14px */
	line-height: 1.42857142857143;
	line-height: 1.25rem; /* 20px */
}

article, blockquote, h1, h2, h3, h4, h5, h6, p, pre, section, .section {
	margin-top: 20px;
	margin-top: 1.25rem;
	margin-bottom: 20px;
	margin-bottom: 1.25rem;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $font-stack-heading;
	font-weight: 800;
	color: #353430;
}

h1 {
	font-size: 1.875em; /* 30px */
	line-height: 1.06666666666667;
	line-height: 2rem; /* 32px */
}

h2, h3 {
	font-size: 1.5em; /* 24px */
	line-height: 1.16666666666667;
	line-height: 1.75rem; /* 28px */
}

h4, h5, h6 {
	font-size: 1.25em; /* 20px */
	line-height: 1.2;
	line-height: 1.5rem; /* 24px */
}


/***************************************************
* Headings and content ≥ 1472 (extra large desktop)
***************************************************/

@media (min-width: 1472px) {
	p {
		font-size: 1em; /* 16px */
		line-height: 1.5em;
		line-height: 1.5rem; /* 24px */
	}
}
