.button,
a.button {
	background-color: #dad8cf;
	border: none;
	border-radius: 3px;
	color: #353430;
	display: block;
	width: 100%;
	box-sizing: border-box;
	font-size: 14px;
	font-weight:500;
	text-align: center;
	line-height: 16px;
	padding: 12px 20px;
	margin: 6px 0;
	-moz-box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.3);
	-webkit-box-shadow:0px 1px 0px 0px rgba(0,0,0,0.3);
  	box-shadow:0px 1px 0px 0px rgba(0,0,0,0.1),0px 2px 1px 0px rgba(0,0,0,0.12);
	

	@include breakpoint(s) {
		display: inline-block;
		width: auto;
		margin: 0;
		text-align: inherit;
	}

	&:hover {
		color: #353430;
		background: #9a9996;
		transition: background 0.4s ease;
		text-decoration: none;
	}

	&.red,
	&.primary {
		background-color: $color-chapman-red;
		color: #FFF;
		-moz-box-shadow: 0px 1px 0px 0px rgba(75,0,12,0.9);	
		-webkit-box-shadow:0px 1px 0px 0px rgba(75,0,12,0.9);
	  	box-shadow:0px 1px 0px 0px rgba(75,0,12,0.8), 0px 2px 1px 0px rgba(75,0,12,0.3);

		&:hover {
			color: #FFF;
			background: #741524;
			transition: background 0.4s ease;
		}
	}

	&.blue,
	&.secondary {
		background-color: $color-chapman-blue;
		color: #FFF;
		box-shadow:0px 1px 0px 0px rgba(11,39,52,0.7), 0px 2px 1px 0px rgba(11,39,52,0.3);

		&:hover {
			color: #FFF;
			background: #14253f;
			transition: background 0.4s ease;
		}
	}
}
