$calendar-box-top-height: 8px;
$calendar-box-font-size: 16px;
$calendar-box-width: 40px;


.calendar-box,
.calendar-boxes {
	display: block;
	margin: 7px 0;
	width: $calendar-box-width;
	text-align: center;
	-moz-box-shadow:0px 1px 0px 0px rgba(0,0,0,0.1),0px 1px 1px 1px rgba(0,0,0,.08);
  	-webkit-box-shadow:0px 1px 0px 0px rgba(0,0,0,0.1),0px 1px 1px 1px rgba(0,0,0,.08);
  	box-shadow:0px 1px 0px 0px rgba(0,0,0,0.1),0px 1px 1px 1px rgba(0,0,0,.08);
}

.calendar-box {
	position: relative;
	box-sizing: border-box;

	padding: 15px 10px 6px 10px;
	border-radius: 5px 5px 0 0;

	background: #FFF;

	&.dark {
		color: #EEEEEE;
		background: $color-dark-gray;
	}

	.calendar-boxes.dark & {
		color: #EEEEEE;
		background: $color-dark-gray;
	}

	font-size: $calendar-box-font-size;
	font-weight: 100;

	&:before {
		position: absolute;
		display: block;
		content: "";

		top: 0;
		left: 0;
		z-index: 10;

		width: 100%;
		height: $calendar-box-top-height;

		background: $color-chapman-red;
		border-radius: 5px 5px 0 0;
	}

	.calendar-boxes & {
		float: left;
		padding: 7px 5px 3px 5px;
		margin: 2px 0;

		width: ($calendar-box-width / 2) - 2;
		font-size: $calendar-box-font-size / 2;

		&:nth-child(odd) {
			margin-right: 2px;
		}

		&:before {
			height: $calendar-box-top-height / 2;
		}
	}
}
