#meltwater {
	display: block;
	width: 100%;

	padding: 0 15px;

	box-sizing: border-box;
	border: 1px solid $color-row-border;

	.widget_title {
		color: $color-dark-gray;
		margin: 15px 0;
	}

	a {
		display: block;
		margin: 15px 0;

		.title {
			display: block;
			font-weight: bold;
		}

		.sourcename, .date, .region {
			display: inline-block;
			font-size: 12px;
			font-style: italic;
			color: $color-dark-gray;
		}

		.date:before {
			content: "";
		}

		.region:before {
			content: ", ";
		}
	}

	button {
		display: block;
		background: none;
		border:none;

		margin-bottom:15px;
		text-align: right;

		opacity: 0.8;

		&:hover {
			opacity: 1;
		}

		&:focus {
			outline: none;
		}
	}

	ul, li {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

}
