#small-sponsor {
  position: relative;
  padding: 13px 17px 6px;
  .header {
    font-family: Arial, sans-serif;
    color: #a4896a;
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: bold;
    width: 100%;
    text-align: center;
    display: block;
    padding-top: 5px;
    min-height: 15px;
  }
  .jcarousel-clip {
    overflow: hidden;
  }
  .carousel {
    border: 1px solid #bcbcbc;
    background: $white;
    li {
      width: 153px;
      padding: 1em 0;
      text-align: center;
    }
    .jcarousel-prev, .jcarousel-next {
      position: absolute;
      background-color: $cu-light-grey;
      color: $cu-red;
      width: 24px;
      height: 26px;
      font-size: 1.5em;
      text-align: center;
      cursor: pointer;
    }
    .jcarousel-prev {
      bottom: -27px;
      left: 0px;
    }
    .jcarousel-next {
      bottom: -27px;
      right: 0px;
    }
    .jcarousel-prev-disabled, .jcarousel-next-disabled {
      color: #bcbcbc;
    }
  }
}