
<h1 id="icons">Icons Preview</h1>

<!-- replace following with loop through assets/images/icons and pull individuals files -->
<div class="container">
  <div class="preview"><p>#arrow_down</p><svg class="icon"><use xlink:href="../dist/images/sprite.svg#arrow_down"/></svg></div>
  <div class="preview"><p>#arrow_left</p><svg class="icon"><use xlink:href="../dist/images/sprite.svg#arrow_left"/></svg></div>
  <div class="preview"><p>#arrow_right</p><svg class="icon"><use xlink:href="../dist/images/sprite.svg#arrow_right"/></svg></div>
  <div class="preview"><p>#bubble-dots3</p><svg class="icon"><use xlink:href="../dist/images/sprite.svg#bubble-dots3"/></svg></div>
  <div class="preview"><p>#bubble-dots4</p><svg class="icon"><use xlink:href="../dist/images/sprite.svg#bubble-dots4"/></svg></div>
  <div class="preview"><p>#bubbles2</p><svg class="icon"><use xlink:href="../dist/images/sprite.svg#bubbles2"/></svg></div>
  <div class="preview"><p>#calendar4</p><svg class="icon"><use xlink:href="../dist/images/sprite.svg#calendar4"/></svg></div>
  <div class="preview"><p>#checkmark-circle-fill-green</p><svg class="icon"><use xlink:href="../dist/images/sprite.svg#checkmark-circle-fill-green"/></svg></div>
  <div class="preview"><p>#checkmark-circle-fill</p><svg class="icon"><use xlink:href="../dist/images/sprite.svg#checkmark-circle-fill"/></svg></div>
  <div class="preview"><p>#checkmark-circle-green</p><svg class="icon"><use xlink:href="../dist/images/sprite.svg#checkmark-circle-green"/></svg></div>
  <div class="preview"><p>#checkmark-circle</p><svg class="icon"><use xlink:href="../dist/images/sprite.svg#checkmark-circle"/></svg></div>
  <div class="preview"><p>#checkmark-no-circle</p><svg class="icon"><use xlink:href="../dist/images/sprite.svg#checkmark-no-circle"/></svg></div>
  <div class="preview"><p>#clock3</p><svg class="icon"><use xlink:href="../dist/images/sprite.svg#clock3"/></svg></div>
  <div class="preview"><p>#cu_monogram</p><svg class="icon"><use xlink:href="../dist/images/sprite.svg#cu_monogram"/></svg></div>
  <div class="preview"><p>#cu_window</p><svg class="icon"><use xlink:href="../dist/images/sprite.svg#cu_window"/></svg></div>
  <div class="preview"><p>#email</p><svg class="icon"><use xlink:href="../dist/images/sprite.svg#email"/></svg></div>
  <div class="preview"><p>#envelope-light-gray</p><svg class="icon"><use xlink:href="../dist/images/sprite.svg#envelope-light-gray"/></svg></div>
  <div class="preview"><p>#envelope</p><svg class="icon"><use xlink:href="../dist/images/sprite.svg#envelope"/></svg></div>
  <div class="preview"><p>#eye2</p><svg class="icon"><use xlink:href="../dist/images/sprite.svg#eye2"/></svg></div>
  <div class="preview"><p>#facebook</p><svg class="icon"><use xlink:href="../dist/images/sprite.svg#facebook"/></svg></div>
  <div class="preview"><p>#feed2</p><svg class="icon"><use xlink:href="../dist/images/sprite.svg#feed2"/></svg></div>
  <div class="preview"><p>#folder</p><svg class="icon"><use xlink:href="../dist/images/sprite.svg#folder"/></svg></div>
  <div class="preview"><p>#globe-light-gray</p><svg class="icon"><use xlink:href="../dist/images/sprite.svg#globe-light-gray"/></svg></div>
  <div class="preview"><p>#globe</p><svg class="icon"><use xlink:href="../dist/images/sprite.svg#globe"/></svg></div>
  <div class="preview"><p>#google-plus</p><svg class="icon"><use xlink:href="../dist/images/sprite.svg#google-plus"/></svg></div>
  <div class="preview"><p>#home</p><svg class="icon"><use xlink:href="../dist/images/sprite.svg#home"/></svg></div>
  <div class="preview"><p>#instagram</p><svg class="icon"><use xlink:href="../dist/images/sprite.svg#instagram"/></svg></div>
  <div class="preview"><p>#link-light-gray</p><svg class="icon"><use xlink:href="../dist/images/sprite.svg#link-light-gray"/></svg></div>
  <div class="preview"><p>#link</p><svg class="icon"><use xlink:href="../dist/images/sprite.svg#link"/></svg></div>
  <div class="preview"><p>#location</p><svg class="icon"><use xlink:href="../dist/images/sprite.svg#location"/></svg></div>
  <div class="preview"><p>#lock-light-gray</p><svg class="icon"><use xlink:href="../dist/images/sprite.svg#lock-light-gray"/></svg></div>
  <div class="preview"><p>#lock</p><svg class="icon"><use xlink:href="../dist/images/sprite.svg#lock"/></svg></div>
  <div class="preview"><p>#menu</p><svg class="icon"><use xlink:href="../dist/images/sprite.svg#menu"/></svg></div>
  <div class="preview"><p>#menu10</p><svg class="icon"><use xlink:href="../dist/images/sprite.svg#menu10"/></svg></div>
  <div class="preview"><p>#menu3</p><svg class="icon"><use xlink:href="../dist/images/sprite.svg#menu3"/></svg></div>
  <div class="preview"><p>#newspaper</p><svg class="icon"><use xlink:href="../dist/images/sprite.svg#newspaper"/></svg></div>
  <div class="preview"><p>#pencil5</p><svg class="icon"><use xlink:href="../dist/images/sprite.svg#pencil5"/></svg></div>
  <div class="preview"><p>#phone-light-gray</p><svg class="icon"><use xlink:href="../dist/images/sprite.svg#phone-light-gray"/></svg></div>
  <div class="preview"><p>#phone</p><svg class="icon"><use xlink:href="../dist/images/sprite.svg#phone"/></svg></div>
  <div class="preview"><p>#pinterest</p><svg class="icon"><use xlink:href="../dist/images/sprite.svg#pinterest"/></svg></div>
  <div class="preview"><p>#play3</p><svg class="icon"><use xlink:href="../dist/images/sprite.svg#play3"/></svg></div>
  <div class="preview"><p>#plus-circle2</p><svg class="icon"><use xlink:href="../dist/images/sprite.svg#plus-circle2"/></svg></div>
  <div class="preview"><p>#search3</p><svg class="icon"><use xlink:href="../dist/images/sprite.svg#search3"/></svg></div>
  <div class="preview"><p>#share</p><svg class="icon"><use xlink:href="../dist/images/sprite.svg#share"/></svg></div>
  <div class="preview"><p>#tag5</p><svg class="icon"><use xlink:href="../dist/images/sprite.svg#tag5"/></svg></div>
  <div class="preview"><p>#twitter</p><svg class="icon"><use xlink:href="../dist/images/sprite.svg#twitter"/></svg></div>
  <div class="preview"><p>#user-light-gray</p><svg class="icon"><use xlink:href="../dist/images/sprite.svg#user-light-gray"/></svg></div>
  <div class="preview"><p>#user</p><svg class="icon"><use xlink:href="../dist/images/sprite.svg#user"/></svg></div>
  <div class="preview"><p>#vimeo</p><svg class="icon"><use xlink:href="../dist/images/sprite.svg#vimeo"/></svg></div>
  <div class="preview"><p>#warning-fill-orange</p><svg class="icon"><use xlink:href="../dist/images/sprite.svg#warning-fill-orange"/></svg></div>
  <div class="preview"><p>#warning</p><svg class="icon"><use xlink:href="../dist/images/sprite.svg#warning"/></svg></div>
  <div class="preview"><p>#wordpress</p><svg class="icon"><use xlink:href="../dist/images/sprite.svg#wordpress"/></svg></div>
  <div class="preview"><p>#x-mark-circle</p><svg class="icon"><use xlink:href="../dist/images/sprite.svg#x-mark-circle"/></svg></div>
  <div class="preview"><p>#x-mark-no-circle</p><svg class="icon"><use xlink:href="../dist/images/sprite.svg#x-mark-no-circle"/></svg></div>
  <div class="preview"><p>#youtube</p><svg class="icon"><use xlink:href="../dist/images/sprite.svg#youtube"/></svg></div>

</div>


