<h3 id="js"> Javascripts </h3>
	<style>
	.box {
		display: block;
		float: left;
		margin-right: 20px;
		margin-bottom: 20px;
		width:100px;
		height: 100px;
		background-size: cover;
		opacity: 0.8;
		border-radius: 6px;
	}

	.box:hover {
		opacity: 1;
	}
	</style>

	<h2 class="component-heading">Image Quickview</h2>

	<p>Just link to a <b>.jpg, .gif,</b> or <b>.png</b> image. <a href="/src/images/placeholders/argyros_forum.jpg">It's really that simple!</a></p>

	<div class="row">
		<a href="/src/images/placeholders/chapman_radio.jpg" class="box" style="background-image:url(/src/images/placeholders/chapman_radio.jpg);"></a>
		<a href="/src/images/placeholders/irvine_lecture_hall.jpg" class="box" style="background-image:url(/src/images/placeholders/irvine_lecture_hall.jpg);"></a>
		<a href="/src/images/placeholders/lecture_hall.jpg" class="box" style="background-image:url(/src/images/placeholders/lecture_hall.jpg);"></a>
		<a href="/src/images/placeholders/memorial_lawn.jpg" class="box" style="background-image:url(/src/images/placeholders/memorial_lawn.jpg);"></a>
		<a href="/src/images/placeholders/piazza.jpg" class="box" style="background-image:url(/src/images/placeholders/piazza.jpg);"></a>
	</div>

	<h2 class="component-heading">Content/HTML Quickview</h2>

	<p>Like Image Quickview, this allows you to specify any HTML to be displayed on a lightbox.</p>

	<a href="http://www.youtube.com/embed/3-pyCLcYRZM" class="button" data-quickview-content="<iframe width='80%' height='80%' src='//www.youtube.com/embed/3-pyCLcYRZM?rel=0&autoplay=1' frameborder='0' allowfullscreen></iframe>">Launch a video player</a>

	<a href="#" class="button" data-quickview-content="<div style='max-width:400px; margin:50px auto; padding:15px; background:white;'><p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>

<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>

<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>">Launch Lorem Ipsum</a>

	<p>Alternately, you can call _______ directly from Javascript to pass in any HTML/DOM content to be displayed. </p>


	<h2 class="component-heading">Call to Action Tracking</h2>

	<p>Just add an HTML attribute to your link like this:</p>

	<p><b>&lt;a href=&quot;#&quot; data-analytics-event=&quot;Big Red Button,Request Information,Page Footer&quot;&gt;</b>Click here<b>&lt;/a&gt;</b></p>

	<a href="#" class="button red" data-analytics-event="Big Red Button,Request Information,Page Footer">This button will track a Google Analytics custom event!</a>


@@include('partials/_footer.html')
