
	<h1 id="molecules">Molecules</h1>
	<p>These small parts are often placed next to or inside of other elements to make up a whole. They might not make sense if displayed all by themslves with nothing else on the page.</p>


	<h2 class="sub-heading" id="pagination">Pagination</h2>
	{% include molecules/pagination.html %}


	<h2 class="sub-heading" id="calendar">Calendar</h2>

	<p>Days can be displayed as a plain number, with highlight-light, with highlight-dark, or as a clickable link. See molecue examples on how to use the classes and elements. The first row automatically aligns right, the last row automatically aligns left. Each row should have exactly seven items, except the last and first rows which may have fewer items. Any width can be applied to the <b>cu_calendar</b> class and child elements will resize accordingly. </p>
	<div style="overflow:auto;">
		<div style="float:left; margin-right: 30px;">
		{% include molecules/calendar.html %}</div>
		<div style="float:left; margin-right: 30px;">
		{% include molecules/calendar_b.html %}</div>
		<div style="float:left; margin-right: 30px;">
		{% include molecules/calendar_c.html %}</div>
		<div style="float:left; margin-right: 30px;">
		{% include molecules/calendar_d.html %}
		</div>
	</div>


	<h2 class="sub-heading" id="cal_icons">Calendar Icons</h2>
	<div style="overflow:auto;">
		<div style="float:left; margin-right: 30px;">
			{% include molecules/calendar_day.html %}
			{% include molecules/calendar_box.html %}
			{% include molecules/calendar_boxes.html %}
		</div>
		<div style="float:left; margin-right: 30px;">
			{% include molecules/calendar_day_dark.html %}
			{% include molecules/calendar_box_dark.html %}
			{% include molecules/calendar_boxes_dark.html %}
		</div>

	</div>

	<h2 class="sub-heading" id="buttons">Buttons</h2>
	{% include molecules/button.html %}

	<br>
	{% include molecules/ellipsis.html %}



