
	<h1 id="organisms">Organisms</h1>
	<p>These objects make sense when displayed all by themselves, and tell a complete story to the viewer. They are complex, and are often made up of many smaller parts.</p>


	<h2 class="sub-heading" id="banners">Events Widget</h2>

	<p>An example of an events widget initialized via HTML attributes:</p>

	<h3>Upcoming Events for Group A</h3>
	<div id="first-event-widget" data-group-id="28"></div>
	<script>
	$( document ).ready(function() { 
		$('#first-event-widget').cuEventWidget(); 
	});
	</script>

	<p>An example of an events widget initialized via jQuery parameters:</p>

	<h3>Upcoming Events for Group B</h3>
	<div id="second-event-widget"></div>
	<script>
	$( document ).ready(function() { 
		$('#second-event-widget').cuEventWidget({'group_id':104}); 
	});
	</script>


	<h2 class="sub-heading" id="banners">Navigation Banner</h2>
	{% include organisms/banner.html %}

	<h3 class="sub-heading">Law Navigation Banner</h2>
	{% include organisms/law_banner.html %}

	<h2 class="sub-heading" id="story">Story Tiles</h2>
	<div class="row">
		{% include organisms/story.html %}
	</div>

	<div class="row gutters">
	    <div class="column-8">
	        {% include organisms/story.html %}
	    </div>
	    <div class="column-8">
	        {% include organisms/story.html %}
	    </div>
	</div>

	<div class="row gutters">
	    <div class="column-4">
	        {% include organisms/story.html %}
	    </div>
	    <div class="column-4">
	        {% include organisms/story.html %}
	    </div>
	    <div class="column-4">
	        {% include organisms/story.html %}
	    </div>
	    <div class="column-4">
	        {% include organisms/story.html %}
	    </div>
	</div>

	<h2 class="sub-heading" id = "cards">Fact Cards</h2>
	
	<div class="row gutters">
	    <div class="column-4">
	        <div class="fact-card">
				<div class="fact-front red">
					<div class="fact-image mortarboard"></div>
					<div class="fact-content">
						<span class="fact-stat-nums">3.67</span>
						<span class="fact-title-1">CHAPMAN'S</span>
						<span class="fact-title-2">AVERAGE GPA</span>
					</div>
				</div>
				<div class="fact-back fact-content">
					<p class="fact-back-text">GPA averages are calculated in the following way, and this means that people who apply to Chapman are frequently in the top 10% of their graduating class.</p>
					<a class="fact-link">REQUEST INFORMATION &raquo;</a>
				</div>
			</div>
	    </div>
	    <div class="column-4">
	        <div class="fact-card">
				<div class="fact-front orange">
					<div class="fact-image mortarboard"></div>
					<div class="fact-content">
						<span class="fact-stat-nums">1840</span>
						<span class="fact-title-1">CHAPMAN'S</span>
						<span class="fact-title-2">AVERAGE SAT</span>
					</div>
				</div>
				<div class="fact-back fact-content">
					<p class="fact-back-text">Chapman takes the top scores from each of your SAT sections, so if you take the test more than once, you'll get a higher score with Chapman than you might expect.</p>
					<a class="fact-link">REQUEST INFORMATION &raquo;</a>
				</div>
			</div>
	    </div>
	    <div class="column-4">
	        <div class="fact-card">
				<div class="fact-front green">
					<div class="fact-content">
						<span class="fact-stat-nums">3.67</span>
						<span class="fact-title-1">CHAPMAN'S</span>
						<span class="fact-title-2">AVERAGE GPA</span>
					</div>
				</div>
				<div class="fact-back fact-content">
					<p class="fact-back-text">GPA averages are calculated in the following way, and this means that people who apply to Chapman are frequently in the top 10% of their graduating class.</p>
					<a class="fact-link">REQUEST INFORMATION &raquo;</a>
				</div>
			</div>
	    </div>
	    <div class="column-4">
	        <div class="fact-card">
				<div class="fact-front blue">
					<div class="fact-cont	ent">
						<span class="fact-stat-nums">1840</span>
						<span class="fact-title-1">CHAPMAN'S</span>
						<span class="fact-title-2">AVERAGE SAT</span>
					</div>
				</div>
				<div class="fact-back fact-content">
					<p class="fact-back-text">Chapman takes the top scores from each of your SAT sections, so if you take the test more than once, you'll get a higher score with Chapman than you might expect.</p>
					<a class="fact-link">REQUEST INFORMATION &raquo;</a>
				</div>
			</div>
	    </div>
	</div>
	<div class="row gutters">
	    <div class="column-4">
	        <div class="fact-card">
				<div class="fact-front red">
					<div class="fact-image student"></div>
					<div class="fact-content">
						<span class="fact-stat-nums">127</span>
						<span class="fact-title-1">STUDENT</span>
						<span class="fact-title-2">organizations</span>
					</div>
				</div>
				<div class="fact-back fact-content">
					<p class="fact-back-text">GPA averages are calculated in the following way, and this means that people who apply to Chapman are frequently in the top 10% of their graduating class.</p>
					<a class="fact-link">REQUEST INFORMATION &raquo;</a>
				</div>
			</div>
	    </div>
	    <div class="column-4">
	        <div class="fact-card">
				<div class="fact-front orange">
					<div class="fact-image chair"></div>
					<div class="fact-content">
						<span class="fact-stat-nums">23<br></span>
						<span class="fact-title-1">average<br>class size</span>
					</div>
				</div>
				<div class="fact-back fact-content">
					<p class="fact-back-text">Chapman takes the top scores from each of your SAT sections, so if you take the test more than once, you'll get a higher score with Chapman than you might expect.</p>
					<a class="fact-link">REQUEST INFORMATION &raquo;</a>
				</div>
			</div>
	    </div>
	    <div class="column-4">
	        <div class="fact-card">
				<div class="fact-front green">
					<div class="fact-image books"></div>
					<div class="fact-content">
						<span class="fact-stat-nums">102<br></span>
						<span class="fact-title-2">AREAS OF STUDY</span>
						<span class="fact-stat-nums">23</span>
						<span class="fact-title-2">MINORS</span>
					</div>
				</div>
				<div class="fact-back fact-content">
					<p class="fact-back-text">GPA averages are calculated in the following way, and this means that people who apply to Chapman are frequently in the top 10% of their graduating class.</p>
					<a class="fact-link">REQUEST INFORMATION &raquo;</a>
				</div>
			</div>
	    </div>
	    <div class="column-4">
	        <div class="fact-card">
				<div class="fact-front blue">
					<div class="fact-image people"></div>
					<div class="fact-content">
						<span class="fact-stat-nums">14:1</span>
						<span class="fact-title-1">RATIO<br></span>
						<span class="fact-title-2">STUDENT TO FACULTY</span>
					</div>
				</div>
				<div class="fact-back fact-content">
					<p class="fact-back-text">Chapman takes the top scores from each of your SAT sections, so if you take the test more than once, you'll get a higher score with Chapman than you might expect.</p>
					<a class="fact-link">REQUEST INFORMATION &raquo;</a>
				</div>
			</div>
	    </div>


