<div data-carousel class="carousel">
    <figure>
        <blockquote data-img data-src="../src/images/placeholders/memorial_lawn.jpg"></blockquote>
        <figcaption>
            <h2>Sleepy brown fox in coma</h2>
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </figcaption>
    </figure>
    <figure>
        <blockquote data-img data-src="//www.chapman.edu/_bootstrap/placeholder/image-2.jpg"></blockquote>
        <figcaption>
            <h2>Fat brown fox wins burger contest</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </figcaption>
    </figure>
    <figure class="active">
        <blockquote data-img data-src="//www.chapman.edu/_bootstrap/placeholder/image-3.jpg"></blockquote>
        <figcaption>
            <h2>Quick brown fox jumps lazy dog</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </figcaption>
    </figure>
</div>