/* Breadcrumb Navigation
   ====================================================== */

.breadcrumb ol {
	list-style: none;
}

.breadcrumb-menu {
	font-size: 0;
	padding: 0 2px;
}

.breadcrumb-menu li {
	display: inline-block;
	font-size: 16px;
	font-size: 1rem;
}

.breadcrumb-menu a {
	font-size: .875em; /* 14px */
	line-height: 1.14285714285714;
	line-height: 1rem; /* 16px */
}

.breadcrumb-menu a {
	color: #383838;
}

.breadcrumb-menu a:focus, .breadcrumb-menu a:hover {
	color: #A82439;
}

.breadcrumb-menu a::before {
	content: "»";
	margin: 0 0.5em;
}

.breadcrumb-menu a::before {
	color: #585858;
}

.breadcrumb-menu li:first-child a::before {
	content: none;
}

.breadcrumb-menu a:hover span {
	box-shadow: 0 1px 0 0 rgba(169,35,58,0.25);
}
