/* Base (these Base settings can be removed once bootstrap live)
   ========================================================================== */

.carousel, .carousel:before, .carousel::after,
.carousel  figure, .carousel figure::before, .carousel figure::after,
.carousel figcaption, .carousel figcaption::before, .carousel figcaption::after,
.carousel blockquote, .carousel blockquote::before, .carousel blockquote::after,
.carousel h2, .carousel h2::before, .carousel h2::after,
.carousel p, .carousel p::before, .carousel p::after
.carousel img, .carousel img::before, .carousel img::after
{
    border: 0 solid;
	-moz-box-sizing: border-box; /* remove when base support is Firefox ESR > 24 */
	box-sizing: inherit;
	color: inherit;
	font-size: inherit;
	margin: 0;
	padding: 0;
	text-decoration: none;
	vertical-align: inherit;
}


/* Elements
   ========================================================================== */
.carousel figcaption, figure {
	display: block;
}

/* Headings and Content
   ========================================================================== */

.carousel figure blockquote  h2 {
	margin-top: 20px;
	margin-top: 1.25rem;

	font-family: "proxima-nova", "Helvetica Neue", "Microsoft Sans Serif", sans-serif;

	color: #353430;
	font-size: 1.5em; /* 24px */
	line-height: 1.16666666666667;
	line-height: 1.75rem; /* 28px */
}

.carousel figure blockquote p {
	font-size: .875em; /* 14px */
	line-height: 1.42857142857143;
	line-height: 1.25rem; /* 20px */
}

.carousel *:first-child {
	margin-top: 0;
}
 

@-webkit-keyframes carousel-slidein {
	0%   { opacity: 0; }
	100% { opacity: 1; }
}

@keyframes carousel-slidein {
	0%   { opacity: 0; }
	100% { opacity: 1; }
}

.carousel {
	height: 0;
	padding-top: 56.25%;
	padding-bottom: 160px;
	position: relative;
	width: 100%;
	z-index: 0;
		margin-bottom: 10px;
}

.carousel {
	box-shadow: 0 4px 4px -4px #111;
}

.carousel, .carousel figcaption {
	background-color: #111;
	border-radius: 0 0 4px 4px;
}

.carousel, .carousel h2 {
	color: #F9F9F9;
}
.carousel, .carousel p {
	color: #F9F9F9;
}
.carousel figure {
	display: none;
}

.carousel figure.active {
	display: block;
}

.carousel figure.active blockquote {
	-webkit-animation: carousel-slidein 400ms;
	animation: carousel-slidein 400ms;
}

.carousel blockquote {
	display: block;
	position: absolute;
	bottom: 160px;
	left: 0;
	right: 0;
	top: 0;
	z-index: -1;
}

.carousel blockquote {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100%;
		padding-right:0;
		padding-left:0;
		margin-right:0;
		margin-left:0;
}

.carousel figcaption {
	bottom: 0;
	font-size: 14px;
	left: 0;
	line-height: 20px;
	min-height: 160px;
	padding: 16px;
	position: absolute;
	right: 0;
	z-index: 2;
}

.carousel-prevnext {
	bottom: 160px;
	cursor: pointer;
	display: block;
	position: absolute;
	top: 0;
	transition: box-shadow 200ms;
	width: 8%;
	z-index: 1;
}

.carousel-prevnext {
	box-shadow: 0 0 5px 0 rgba(0,0,0,0.16666);
	opacity: 0.5;
	transition: opacity 200ms;
}

.carousel-prevnext:focus, .carousel-prevnext:hover {
	box-shadow: 0 0 1px 0 rgba(0,0,0,0.16666), inset 0 0 10px 0 rgba(0,0,0,0.5);
	opacity: 1;
}

.carousel-prev {
	left: 0;
    background: linear-gradient(to right, rgba(32,32,32,0.6666), rgba(32,32,32,0.25)), url('../../img/carousel-prev.png') no-repeat center / 60%;
    /* repeated as separate properties for IE fix: */
    background-image: url('../../img/carousel-prev.png');
    background-repeat: no-repeat;
    background-position: center;
}

.carousel-next {
	right: 0;
    background: linear-gradient(to left, rgba(32,32,32,0.6666), rgba(32,32,32,0.25)), url('../../img/carousel-next.png') no-repeat center / 60%;
    /* repeated as separate properties for IE fix: */
    background-image: url('../../img/carousel-next.png');
    background-repeat: no-repeat;
    background-position: center;
}