@media print {
  body, html {
    width: 100%;
    // height: 95%;
    height: 700px;
    margin: 0 auto;
  }
  #virtualTour-mainColumn {
    display: none;
  }
  #virtualTour-mapColumn {
    position: relative;
    display: block;
    margin-top: 20px;
    width: 700px;
    height: 700px;
  }
  #virtualTour-mapCanvas {
    width: 100%;
    height: 100%;
  }
  #printButton {
    display: none;
  }
  .label {
    background: rgba(255, 255, 255, 0.75);
    padding: 5px;
    width: 120px;
    text-align: center;
  }
}