.editableContent {
  word-wrap: break-word;
  margin-bottom: 0;
  .ie7 & {
    ul {
      padding: 0 0 0 15px;
      > li {
	      list-style: disc !important;
	      padding-left: 0;
	      text-indent: 0;
	    }
    }
    li {
      vertical-align: top;
    }
    img {
      zoom: normal;
    }
  }
  li {
    // margin: 5px 0 5px 0;
  }
  img {
    margin: 10px 20px 10px 10px;
    background-color: $white;
    -webkit-box-shadow: 1px 1px 2px rgba(50, 50, 50, 0.25);
    -moz-box-shadow: 1px 1px 2px rgba(50, 50, 50, 0.25);
    box-shadow: 1px 1px 2px rgba(50, 50, 50, 0.25);
    padding: 3px;
    &.top {
      margin-top: 0;
    }
    &[align=left] {
      margin: 2px 20px 10px 0;
    }
    &[align=right] {
      margin: 0 0 10px 10px;
    }
    &.top {
      margin-top: 0;
    }
    &.transparent {
      background-color: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      padding: 3px;
      margin: 10px;
    }
    &.no-border {
      background-color: none;
      -webkit-box-shadow: 1px 1px 2px rgba(50, 50, 50, 0.25);
      -moz-box-shadow: 1px 1px 2px rgba(50, 50, 50, 0.25);
      box-shadow: 1px 1px 2px rgba(50, 50, 50, 0.25);
      padding: 3px;
      margin: 10px;
    }
  }
  p {
    margin: 10px 0 10px 0;
  }
  ul, ol {
    list-style-position: outside;
    padding: 0 0 0 0 !important;
  }
  ul {
    list-style: bullet;
    padding: 0 0 0 0;
    // margin: 0 0 15px 15px;
    margin: 0 0 7px 15px;
    overflow: hidden;
    > li {
      padding-left: 0 !important;
      text-indent: 0 !important;
      position: relative;
      // margin-left: 15px;
      margin-left: 20px;
      margin-right: 1em;
      &:before {
        // content: "• ";
        // color: $cu-red;
      }
    }
  }
  ol {
    padding: 0 0 0 0;
    margin: 0 0 15px 15px;
    > li {
      padding-left: 0 !important;
      text-indent: 0 !important;
      position: relative;
      margin-left: 15px;
      margin-right: 1em;
    }
  }
  .video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    iframe, object, embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}