.responsiveForm {
  background-color: $cu-light-grey;
  border-bottom: 1px solid #4A4949;
  color: #4A4949;
  padding: 10px 45px;
  label {
    display: block;
  }
  input {
    &[type=text], &[type=password] {
      max-width: 100%;
      margin: 5px 0 15px 0;
    }
  }
  textarea, select {
    max-width: 100%;
    margin: 5px 0 15px 0;
  }
  input {
    &[type=checkbox], &[type=radio] {
      margin: 5px 0 3px 25px;
    }
    &[type=submit] {
      display: block;
    }
  }
  a.button {
    display: block;
  }
  fieldset {
    margin: 10px 0 10px 0;
    &.showBorder {
      border: thin solid #D2D1CD;
      padding: 5px;
    }
    legend {
      margin: 0 0 10px 0;
    }
  }
  input {
    &[type=radio] + label, &[type=checkbox] + label {
      // display: inline;
      display: block;
      margin-top: -17px;
      margin-left: 41px;
      &:after {
        // content: '';
        // display: block; 
      }
    }
  }
}

.form {
  padding: 10px 45px;
  background-color: #E5E2CF;
  border-left: 1px solid $white;
  border-bottom: 1px solid $cu-border;
  color: #4A4949;
  div {
    margin: 7px 0;
  }
  label.inline {
    display: inline;
    margin: 10px;
  }
  input {
    &[type=text], &[type=password] {
      width: 300px;
    }
    &[readonly=readonly] {
      background-color: #ececec;
      border: 1px solid #bbb;
    }
  }
  textarea[readonly=readonly] {
    background-color: #ececec;
    border: 1px solid #bbb;
  }
}

.form-label {
  display: inline-block;
  width: 150px;
  text-align: right;
  margin: 0 10px;
  vertical-align: middle;
}

.short-form {
  width: 175px !important;
  padding: 10px !important;
  h2 {
    color: #8e6b4a;
  }
  input[type='text'], textarea {
    -webkit-appearance: none;
  }
  input[type='text'] {
    width: 163px;
    margin-top: 10px;
    border: 1px solid #bdbcb9;
    margin: 10px 0 0 0;
    padding: 5px;
  }
  input[type='submit'] {
    float: right;
    width: 74px;
    background-color: $cu-red;
    border: 0;
    -webkit-appearance: none;
    padding: 5px 0;
    color: $white;
  }
  textarea {
    width: 163px;
    margin-top: 10px;
    border: 1px solid #bdbcb9;
    margin: 10px 0 0 0;
    padding: 5px;
    height: 75px;
  }
  select {
    width: 175px;
    margin-top: 10px;
    border: 1px solid #bdbcb9;
    margin: 10px 0 0 0;
    padding: 0 0 0 0;
  }
}

input[type=submit], a.button {
  font-weight: bold;
  font-size: 12px;
  background-color: #8F0C30;
  cursor: pointer;
  color: $white;
  padding: 4px;
  border: none;
  box-shadow: 0px 0px 7px #434343;
  display: inline-block;
  zoom: 1;
  &:hover {
    background-color: #AF2C50;
  }
}