@charset "UTF-8";
/* Banner
   ========================================================================== */
/* line 4, ../../_sass/organisms/banner.scss */
.banner {
  margin-bottom: 30px;
  margin-top: 30px;
  -ms-overflow-x: hidden;
  position: relative;
  /* Logo
  	========================================================================== */
  /* Logo ≥ 1024 (large tablet and desktop)
  	====================================================== */
  /* Logo ≥ 1152 (large desktop)
  	====================================================== */
  /* Navigation
  	====================================================== */
  /* Navigation < 768 (handheld)
  	====================================================== */
  /* Navigation ≥ 768 (tablet)
  	====================================================== */
  /* Navigation ≥ 1024 (large tablet and desktop)
  	====================================================== */
  /* Navigation ≥ 1152 (large desktop)
  	====================================================== */
}
/* line 13, ../../_sass/organisms/banner.scss */
.banner .logo {
  margin-bottom: 20px;
}
/* line 17, ../../_sass/organisms/banner.scss */
.banner .logo-href {
  display: block;
  height: 36px;
  overflow: hidden;
  position: relative;
  width: 192px;
}
/* line 25, ../../_sass/organisms/banner.scss */
.banner.law .logo-href {
  overflow: visible;
  height: auto;
}
/* line 30, ../../_sass/organisms/banner.scss */
.banner.law .logo-href > img {
  max-height: initial;
}
/* line 34, ../../_sass/organisms/banner.scss */
.banner .logo-image {
  height: 100%;
  position: absolute;
  width: 100%;
}
/* line 40, ../../_sass/organisms/banner.scss */
.banner .inset--lite .logo-href {
  margin: 0 auto;
}
@media (min-width: 1024px) {
  /* line 48, ../../_sass/organisms/banner.scss */
  .banner .logo-href {
    height: 40px;
    width: 212px;
  }
}
@media (min-width: 1152px) {
  /* line 58, ../../_sass/organisms/banner.scss */
  .banner .logo-href {
    height: 48px;
    width: 254px;
  }
}
/* line 67, ../../_sass/organisms/banner.scss */
.banner .nav ul {
  list-style: none;
}
/* line 71, ../../_sass/organisms/banner.scss */
.banner .nav-menu {
  font-family: "proxima-nova", "Helvetica Neue", "Microsoft Sans Serif", sans-serif;
}
/* line 75, ../../_sass/organisms/banner.scss */
.banner .nav-menu li {
  position: relative;
}
/* line 79, ../../_sass/organisms/banner.scss */
.banner .nav-menu a {
  display: block;
  position: relative;
}
/* line 84, ../../_sass/organisms/banner.scss */
.banner .nav-menu > li > a {
  background-color: #333;
  color: #FFF;
  text-transform: uppercase;
}
/* line 90, ../../_sass/organisms/banner.scss */
.banner.law .nav-menu > li > a {
  background-color: #00307c;
}
/* line 94, ../../_sass/organisms/banner.scss */
.banner .nav-menu > li > a:focus, .banner .nav-menu > li > a:hover, .banner .nav-menu > li.active > a {
  background-color: #FAF9F6;
  color: #A9233A;
}
@media (max-width: 767px) {
  /* line 103, ../../_sass/organisms/banner.scss */
  .banner .nav:target {
    margin-top: -76px;
    padding-top: 76px;
  }
  /* line 108, ../../_sass/organisms/banner.scss */
  .banner .nav:not(:target) .nav-glyph--back {
    display: none;
  }
  /* line 112, ../../_sass/organisms/banner.scss */
  .banner .nav:target .nav-glyph:not(.nav-glyph--back) {
    display: none;
  }
  /* line 116, ../../_sass/organisms/banner.scss */
  .banner .nav:target .nav-menu {
    max-height: 1000px;
  }
  /* line 120, ../../_sass/organisms/banner.scss */
  .banner .nav-glyph {
    font-size: 32px;
    display: inline-block;
    height: 1em;
    outline: none;
    position: absolute;
    right: 10px;
    top: 0;
    width: 1em;
  }
  /* line 131, ../../_sass/organisms/banner.scss */
  .banner .nav-glyph:focus svg {
    outline: auto 5px -webkit-focus-ring-color;
  }
  /* line 135, ../../_sass/organisms/banner.scss */
  .banner .nav-menu {
    margin: 0 -10px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 400ms;
  }
  /* line 142, ../../_sass/organisms/banner.scss */
  .banner .nav-menu a {
    padding: 15px 10px;
    font-size: 16px;
    line-height: 16px;
  }
}
@media (min-width: 768px) {
  /* line 153, ../../_sass/organisms/banner.scss */
  .banner .nav {
    height: 36px;
    width: 100%;
  }
  /* line 158, ../../_sass/organisms/banner.scss */
  .banner .nav-glyph {
    display: none;
  }
  /* line 162, ../../_sass/organisms/banner.scss */
  .banner .nav-menu {
    display: table;
    padding: 0 0 0 16px;
    position: relative;
    width: 100%;
  }
  /* line 169, ../../_sass/organisms/banner.scss */
  .banner .nav-menu::after {
    content: "";
    height: 0%;
    display: block;
    position: absolute;
    width: 100%;
    top: 0;
    left: 100%;
    z-index: -1;
  }
  /* line 180, ../../_sass/organisms/banner.scss */
  .banner .nav-menu::after {
    box-shadow: 12px 18px 0 18px #333;
  }
  /* line 184, ../../_sass/organisms/banner.scss */
  .banner.law .nav-menu::after {
    box-shadow: 12px 18px 0 18px #00307c;
  }
  /* line 188, ../../_sass/organisms/banner.scss */
  .banner .nav-menu > li {
    display: table-cell;
  }
  /* line 192, ../../_sass/organisms/banner.scss */
  .banner .nav-menu > li > a {
    padding: 11px 4px;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
  }
  /* line 199, ../../_sass/organisms/banner.scss */
  .banner .nav-menu > li:first-of-type > a::before {
    content: "";
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMCA0MCI+PHBhdGggZmlsbD0iIzM1MzQzMCIgZD0iTTguOCwyMEwwLDQwaDEwVjBIMEw4LjgsMjB6Ii8+PC9zdmc+);
    height: 100.25%;
    position: absolute;
    margin-right: -1px;
    right: 100%;
    top: 0;
    width: 9.5px;
  }
  /* line 210, ../../_sass/organisms/banner.scss */
  .banner.law .nav-menu > li:first-of-type > a::before {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjIwNyAwIDE5OCA3OTIiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMjA3IDAgMTk4IDc5MiI+PHBhdGggZmlsbD0iIzAwMzA3QyIgZD0iTTM4MS4yNCAzOTZMMjA3IDc5MmgxOThWMEgyMDdsMTc0LjI0IDM5NnoiLz48L3N2Zz4=);
  }
  /* line 214, ../../_sass/organisms/banner.scss */
  .banner .nav-menu > li:first-of-type > a:focus::before, .banner .nav-menu > li:first-of-type > a:hover::before, .banner .nav-menu > li.active:first-of-type > a::before {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMCA0MCI+PHBhdGggZmlsbD0iI0ZBRjlGNiIgZD0iTTguOCwyMEwwLDQwaDEwVjBIMEw4LjgsMjB6Ii8+PC9zdmc+);
  }
}
@media (min-width: 1024px) {
  /* line 223, ../../_sass/organisms/banner.scss */
  .banner .nav {
    height: 40px;
  }
  /* line 227, ../../_sass/organisms/banner.scss */
  .banner .nav-menu {
    padding-left: 20px;
  }
  /* line 231, ../../_sass/organisms/banner.scss */
  .banner .nav-menu::after {
    box-shadow: 12px 20px 0 20px #333;
  }
  /* line 235, ../../_sass/organisms/banner.scss */
  .banner .law .nav-menu::after {
    box-shadow: 12px 20px 0 20px #00307c;
  }
  /* line 239, ../../_sass/organisms/banner.scss */
  .banner .nav-menu > li > a {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 20px;
  }
  /* line 245, ../../_sass/organisms/banner.scss */
  .banner .law .nav-menu > li > a {
    font-size: 16px;
  }
  /* line 249, ../../_sass/organisms/banner.scss */
  .banner .nav-menu > li:first-of-type > a::before {
    width: 10px;
  }
}
@media (min-width: 1152px) {
  /* line 258, ../../_sass/organisms/banner.scss */
  .banner .nav {
    height: 48px;
  }
  /* line 262, ../../_sass/organisms/banner.scss */
  .banner .nav-menu {
    padding-left: 28px;
  }
  /* line 266, ../../_sass/organisms/banner.scss */
  .banner .nav-menu::after {
    box-shadow: 12px 24px 0 24px #333;
  }
  /* line 270, ../../_sass/organisms/banner.scss */
  .banner.law .nav-menu::after {
    box-shadow: 12px 24px 0 24px #00307c;
  }
  /* line 274, ../../_sass/organisms/banner.scss */
  .banner .nav-menu > li > a {
    padding: 14px;
    font-size: 20px;
    line-height: 20px;
  }
  /* line 280, ../../_sass/organisms/banner.scss */
  .banner.law .nav-menu > li > a {
    font-size: 18px;
  }
  /* line 284, ../../_sass/organisms/banner.scss */
  .banner .nav-menu > li:first-of-type > a::before {
    width: 12px;
  }
}

/* Banner ≥ 768 (tablet)
   ========================================================================== */
@media (min-width: 768px) {
  /* line 296, ../../_sass/organisms/banner.scss */
  .banner-inset {
    display: table;
  }

  /* line 300, ../../_sass/organisms/banner.scss */
  .banner-inset > * {
    display: table-cell;
    vertical-align: top;
  }

  /* line 305, ../../_sass/organisms/banner.scss */
  .law .banner-inset > * {
    vertical-align: bottom;
  }
}
