@charset "UTF-8";
/* Breadcrumb Navigation
   ====================================================== */
/* line 4, ../../_sass/organisms/breadcrumbs.scss */
.breadcrumb ol {
  list-style: none;
}

/* line 8, ../../_sass/organisms/breadcrumbs.scss */
.breadcrumb-menu {
  font-size: 0;
  padding: 0 2px;
}

/* line 13, ../../_sass/organisms/breadcrumbs.scss */
.breadcrumb-menu li {
  display: inline-block;
  font-size: 16px;
  font-size: 1rem;
}

/* line 19, ../../_sass/organisms/breadcrumbs.scss */
.breadcrumb-menu a {
  font-size: .875em;
  /* 14px */
  line-height: 1.14285714285714;
  line-height: 1rem;
  /* 16px */
}

/* line 25, ../../_sass/organisms/breadcrumbs.scss */
.breadcrumb-menu a {
  color: #383838;
}

/* line 29, ../../_sass/organisms/breadcrumbs.scss */
.breadcrumb-menu a:focus, .breadcrumb-menu a:hover {
  color: #A82439;
}

/* line 33, ../../_sass/organisms/breadcrumbs.scss */
.breadcrumb-menu a::before {
  content: "»";
  margin: 0 0.5em;
}

/* line 38, ../../_sass/organisms/breadcrumbs.scss */
.breadcrumb-menu a::before {
  color: #585858;
}

/* line 42, ../../_sass/organisms/breadcrumbs.scss */
.breadcrumb-menu li:first-child a::before {
  content: none;
}

/* line 46, ../../_sass/organisms/breadcrumbs.scss */
.breadcrumb-menu a:hover span {
  box-shadow: 0 1px 0 0 rgba(169, 35, 58, 0.25);
}
