.videoWrapper {
  position: relative;
  padding-bottom: 25%;
  padding-top: 25px;
  height: 0;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  @include bp(wildcard-max, 481px) {
    padding-bottom: 56.25%;
  }
  @include bp(wildcard-max, 780px) {
    padding-bottom: 40%;
  }
}