.collapsedSearch {
	&.active {
    display: block;
    background-color: #a2acb4;
  }
	.searchButton {
	  position: absolute;
	  top: 0;
	  right: 0;
	  background-image: url("../img/magnifying_glass.png");
	  background-repeat: no-repeat;
	  background-position: 10px center;
	  height: 37px;
	  width: 11%;
	  cursor: pointer;
	  padding: 0 0 0 4px;
	  border: none;
	  text-indent: -99999px;
	  overflow: hidden;
	  background-color: #a2acb4;
    height: 100%;
    display: none;
	  position: relative;
	}
	input {
    width: 90%;
    height: 37px;
    font-size: 14px;
    border: none;
    padding: 0 0 0 10px;
  }
  @include bp(m) {
  	display: none !important;
  }
}

.collapsedSearchHeading {
  position: absolute;
  top: 0;
  right: 0;
  background-image: url("../img/magnifying_glass.png");
  background-repeat: no-repeat;
  background-position: 10px center;
  height: 37px;
  width: 11%;
  cursor: pointer;
  padding: 0 0 0 4px;
  border: none;
  text-indent: -99999px;
  overflow: hidden;
  &.active {
    background-image: none !important;
    .downArrow {
      font-size: 45px;
      position: absolute;
      height: 15px;
      top: 15px;
      left: 7px;
      overflow: hidden;
      color: $cu-red;
      text-indent: 0;
      display: block;
      span {
        display: block;
        margin: -33px 0 0 0;
      }
    }
  }
  .downArrow span {
    display: none;
  }
}