.bigMasthead .masthead-old {
	background-color: $teal2-hover;
	max-width: 1024px;
	min-height: 83px;
	margin: 5px auto 0;
	> img {
		width: 100%;
    max-height: 260px;
	}
	> div {
		font-style: italic;
    font-size: 19px;
    text-align: left;
    color: $white;
    padding: 5px 5% 5px 5%;
	}
	@include bp(l) {
		position: relative;
    margin: 40px auto 0 auto;
	}
}