.bigMasthead {
  .masthead-new {
    max-width: 1128px;
    max-height: none;
    background: transparent;
    // position: relative;
    > img {
      max-height: none;
      position: relative;
      z-index: 1;
    }
    .caption {
      display: block;
      top: auto;
      position: absolute;
      z-index: 10;
      bottom: 0;
      left: 0;
      box-sizing: border-box;
      height: auto;
      background: $cu-red;
      padding: 30px 32px 30px 32px;
      max-width: 100%;
      width: 100%;
      font-style: normal;
      box-shadow: 0px 2px 1px $black;
      &.align-top-right {
        @include bp(l) {
          bottom: auto !important;
          top: 60px !important;
          left: auto !important;
          right: 0 !important;
        }
      }
      &.align-top-left {
        @include bp(l) {
          bottom: auto !important;
          top: 60px !important;
          left: 0 !important;
          right: auto !important;
        }
      }
      &.align-bottom-right {
        @include bp(l) {
          top: auto !important;
          bottom: 60px !important;
          left: auto !important;
          right: 0 !important;
        }
      }
      &.align-bottom-left {
        @include bp(l) {
          bottom: 60px !important;
          top: auto !important;
          left: 0 !important;
          right: auto !important;
        }
      }
      h2 {
        margin: 0;
        color: $white;
        font-size: 20px;
        text-transform: none;
        @include bp(l) {
          font-size: 30px;
        }
      }
      p {
        color: $white;
        font-size: 15px !important;
        margin: 0;
        padding: 0 32px 0 32px;
      }
      @include bp(l) {
        position: absolute;
        bottom: 60px;
        padding: 60px 32px 30px 32px;
        max-width: 440px;
      }
    }
    &.captionOnTop p.subTitle {
      display: block !important;
      max-width: 100%;
      position: relative;
      width: 100%;
      background: none repeat scroll 0 0 $grey;
      box-sizing: border-box;
      /*display: none;*/
      font-size: 12px !important;
      left: 0;
      max-width: 75%;
      padding: 10px 30px;
      position: relative;
      top: -30px;
      @include bp(l) {
        position: absolute;
        display: none;
        padding: 5px 30px;
        background: $grey;
        top: -20px;
        left: 0;
        font-size: 12px !important;
        max-width: 75%;
        @include vendorize(box-sizing, border-box);
      }
    }
    .caption {
      p.subTitle {
        color: $white;
        font-size: 15px !important;
        margin: 0;
        max-width: 100%;
      }
      padding-left: 0;
      padding-right: 0;
      @include bp(l) {
        padding-left: 32px;
        padding-right: 32px;
      }
    }
    h2 {
      padding: 0 32px 0 32px;
    }
    p {
      @include bp(l) {
        padding: 15px 30px;
        top: -20px;
        display: block !important;
      }
    }
    &.quote {
      .caption {
        background: rgba(56, 56, 56, 1);
        padding-top: 30px;
        font-size: 16px;
        @include bp(l) {
          background: rgba(56, 56, 56, 0.75);
        }
      }
      p {
        font-family: 'futura-pt', arial, verdana, sans-serif;
        font-size: 18px !important;
        font-weight: normal;
        line-height: 30px;
      }
    }
    .author {
      display: block;
      margin-top: 15px;
      font-size: 21px;
      font-weight: bold;
      font-family: 'futura-pt', arial, verdana, sans-serif;
      padding-left: 32px;
    }
  }
	.masthead-old {
		background-color: $teal2-hover;
		max-width: 1024px;
		min-height: 83px;
		margin: 5px auto 0;
		> img {
			width: 100%;
	    max-height: 260px;
		}
		> div {
			font-style: italic;
	    font-size: 19px;
	    text-align: left;
	    color: $white;
	    padding: 5px 5% 5px 5%;
		}
		@include bp(l) {
			position: relative;
	    margin: 40px auto 0 auto;
		}
	}
  // .masthead {
  //   max-width: 1024px;
  //   min-height: 83px;
  //   background-color: #0e8fc5;
  //   background: -ms-radial-gradient(circle, #44a8d2, #0e8fc5);
  //   background: -webkit-radial-gradient(circle, #44a8d2, #0e8fc5);
  //   background: -moz-radial-gradient(circle, #44a8d2, #0e8fc5);
  //   background: radial-gradient(circle, #44a8d2, #0e8fc5);
  //   > {
  //     img {
  //       width: 100%;
  //       max-height: 260px;
  //     }
  //     div {
  //       font-family: Times New Roman;
  //       font-style: italic;
  //       font-size: 19px;
  //       color: $white;
  //       text-align: left;
  //       padding: 5px 5% 9px 5%;
  //     }
  //   }
  //   @include bp(l) {
  //     position: relative;
  //     top: -270px;
  //     margin: 0 auto -270px auto;
  //   }
  // }
  header, &.smallRotator header {
    @include bp(l) {
      padding: 0 0 0 0;
    }
  }
  header {
    @include bp(l) {
      padding: 0 0 285px 0;
    }
  }
  &.smallRotator header {
    @include bp(l) {
      padding: 0 0 260px 0;
    }
  }
  .mastheadPlaceholder {
    background-color: $teal2-hover;
    bottom: 30px;
    max-width: 1130px;  
    min-height: 83px;
    position:relative;
    margin: 50px auto 0 auto;
    > div {
      color: $white;
      font-size: 19px;
      line-height: 19px;
      font-style: normal;
      padding: 30px;
      text-align: left;
      @include bp(l) {
        padding: 25px 20px 20px 35%;
      }
    }
  }
  .brandedMastheadContainer {
    max-width: 1128px;
    max-height: 220px;
    overflow: visible !important;
    margin: 0 auto;
    position: relative;
    z-index: 100;
    .masthead-new {
      .caption {
        padding: 30px 12px 10px 12px;
      }
      &.captionOnTop p.subTitle {
        max-width: 100%;
        @include bp(l) {
          max-width: 45%;
        }
      }
      > img {
        max-height: 220px;
        width: 100%;
        bottom: 20px;
        @include bp(l) {
          max-height: 220px;
          width: 1128px;
        }
      }
    }
  }
}