.mastheadPlaceholder:before {
  background-color: rgba(0, 0, 0, 0);    
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  @include bp(l) {
  	background-image: url("../level/img/masthead_bg_small.png");
    background-position: left top;
    background-repeat: no-repeat;
  }
}