.newbutton {
	// margin: 0;
  margin: 20px 0 20px 0;
  .rightColumn & {
  	@include bp(m) {
      margin-top: 0;
    }
  }
  ul {
    list-style: none;
  }
  li {
    padding-bottom: 2px;
  }
  a, a:link { // a:link selector added by SH
    position: relative;
    text-align: left;
    // padding: 10px 30px 10px 5px;
    padding: 10px 38px 10px 20px;
    color: $white;
    // text-transform: uppercase;
    // font-weight: bold;
    font-weight: 800;
    display: block;
    border: 1px solid #b6c0b1;
    // background-color: #66c2de;
    // background-image: -webkit-gradient(linear, left top, left bottom, from(#66c2de), to(#028bb5));
    // background-image: -webkit-linear-gradient(top, #66c2de, #028bb5);
    // background-image: -moz-linear-gradient(top, #66c2de, #028bb5);
    // background-image: -o-linear-gradient(top, #66c2de, #028bb5);
    // background-image: linear-gradient(to bottom, #66c2de, #028bb5);
    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66c2de', endColorstr='#028bb5',GradientType=1 );
    background-color: $new-button-primary;
    background-image: -webkit-gradient(linear, left top, left bottom, from($new-button-primary), to($new-button-secondary));
    background-image: -webkit-linear-gradient(top, $new-button-primary, $new-button-secondary);
    background-image: -moz-linear-gradient(top, $new-button-primary, $new-button-secondary);
    background-image: -o-linear-gradient(top, $new-button-primary, $new-button-secondary);
    background-image: linear-gradient(to bottom, $new-button-primary, $new-button-secondary);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$new-button-primary}', endColorstr='#{$new-button-secondary}',GradientType=1 );
    font-size: 1.1em;
    clear: both;
    &:after {
      font-family: Georgia;
      content: '»';
      position: absolute;
      display: inline-block;
      vertical-align: middle;
      top: 50%;
      right: 16px;
      margin-top: -9px;
    }
    &:hover {
			// background: #a6d0dd;
			// background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2E2ZDBkZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1MDliYjIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
			// background: -moz-linear-gradient(top, #a6d0dd 0%, #509bb2 100%);
			// background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a6d0dd), color-stop(100%, #509bb2));
			// background: -webkit-linear-gradient(top, #a6d0dd 0%, #509bb2 100%);
			// background: -o-linear-gradient(top, #a6d0dd 0%, #509bb2 100%);
			// background: -ms-linear-gradient(top, #a6d0dd 0%, #509bb2 100%);
			// background: linear-gradient(to bottom, #a6d0dd 0%, #509bb2 100%);
			// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6d0dd', endColorstr='#509bb2',GradientType=0 );
    	background: $new-button-hover-primary;
      background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2E2ZDBkZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1MDliYjIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
      background: -moz-linear-gradient(top, $new-button-hover-primary 0%, $new-button-hover-secondary 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $new-button-hover-primary), color-stop(100%, $new-button-hover-secondary));
      background: -webkit-linear-gradient(top, $new-button-hover-primary 0%, $new-button-hover-secondary 100%);
      background: -o-linear-gradient(top, $new-button-hover-primary 0%, $new-button-hover-secondary 100%);
      background: -ms-linear-gradient(top, $new-button-hover-primary 0%, $new-button-hover-secondary 100%);
      background: linear-gradient(to bottom, $new-button-hover-primary 0%, $new-button-hover-secondary 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$new-button-hover-primary', endColorstr='#{$new-button-hover-secondary}',GradientType=0 );
    }
  }
  @include bp(wildcard-min, 500px) {
    // margin: 0 0 10px 0;
  }
}
