.newsEventsContent {
	background-color: $cu-off-white;
  border: 1px solid #cdccc7;
  padding: 10px;
  margin: 0 0 20px 0;
  position: relative;
  color: $black;
  .primaryContent .main & {
  	// padding: 0 0 10px 0;
  	h3 .bullet {
		  // font-family: Arial;
		  font-size: 12px;
		  position: relative;
		  // left: 2px;
		  bottom: 2px;
		  display: none;
		}
		.copy {
    	height: 100px;
	    margin: 10px 0 2px 0;
	    div {
	      width: auto !important;
	    }
    }
  }
  .main & {
  	div {
      margin: 0;
    }
    .news .story h3, .events .story h3 {
      margin-top: 35px;
    }
    .featured {
      padding: 10px 10px 10px 10px;
      position: relative;
      background-color: #FBF9F0;
      .readMore {
        margin-top: 10px;
      }
      .col1 {
        display: inline-block;
        max-width: 46%;
        border-right: 1px solid #555a5e;
      }
      .col2 {
        display: inline-block;
        max-width: 49%;
        vertical-align: top;
        padding: 0 0 0 10px;
      }
      .title {
        margin-top: 35px;
        margin-bottom: 5px;
      }
    }
    > li {
	    padding: 0 10px 0 10px;
	  }
  }
  .primaryContent & {
  	h3 .bullet {
		  font-family: Arial;
		  font-size: 12px;
		  position: relative;
		  left: 2px;
		  bottom: 2px;
	  }
  }
	.leftNav & {
		background-color: $cu-off-white;
    top: -1px;
    // margin: 0 20px 20px 0;
    margin: 0 20px 20px 0;
    margin: 0;
    padding: 1px 0 1px 0;
    z-index: 1;
    .loading {
      position: absolute;
      top: 100px;
      left: 70px;
    }
    li {
    	list-style-type: none;
      display: none;
      &.active {
        @include bp(m) {
          display: block;
        }
      }
    }
	}
	.homepage & {
    .description {
      @include bp(m) {
        font-family: 'proxima-nova', sans-serif;
        font-size: 18px;
        font-weight: 400;
      }
    }
    .date {
      @include bp(m) {
        margin: 0 0 0 0;
      }
    }
  }
  .leftNav &, .homepage & {
    li {
      @include bp(m) {
        list-style-type: none;
        display: none;
      }
    }
  }
  .featureImage {
    float: left;
    display: block;
    width: 30%;
    max-width: 284px;
    border: 7px solid $white;
    margin: 0 0 0 0;
    -webkit-box-shadow: 0px 0px 5px #e4e2d7;
    -moz-box-shadow: 0px 0px 5px #e4e2d7;
    box-shadow: 0px 0px 5px #e4e2d7;
  }
  h4 {
    margin-top: 0;
    top: -1px;
    clear: both;
  }
  h6 {
    // display: none !important;
    background-color: $cu-red;
    background-image: url("../img/active_tab_bg.png");
    background-repeat: repeat-x;
    background-position: left top;
    font-size: 14px;
    // color: $black;
    color: $white;
    padding: 10px;
    margin: 10px;
    // position: relative;
		@include bp(m) {
      // display: none;
    }
  }
  div {
    margin: 5px 10px 10px 10px;
  }
  .description {
    display: inline-block;
    margin-left: 85px;
    @include bp(m) {
      margin-left: 0;
    }
  }
  .events > div {
    margin-bottom: 25px;
  }
  .events > div, .rss-story, .story1 {
    > h4 {
      @include bp(m) {
        font-size: 24px;
        padding: 0;
        margin: 0;
      }
    }
    .description {
      @include bp(m) {
        margin-left: 85px;
        display: block;
      }
    }
  }
  .featureImage {
    display: none;
    @include bp(m) {
      display: block;
    }
  }
  a {
    font-weight: normal;
    color: $cu-red;
    // font-family: Arial;
    // font-size: 12px;
    margin: 10px 0 0 0;
    &:hover {
      color: $cu-red !important;
    }
  }
  .date {
    margin: 0;
    > div {
      margin: 0;
    }
  }
  .copy img {
	  display: none;
	}
	p {
    // font-family: Arial;
    font-size: 13px;
  }
  li.active {
  	display: block !important;
  }
  > li {
    list-style-type: none;
    // display: none;
    position: relative;
  }
}
