.photo-gallery {
  .rightColumn & {
    background-color: transparent;
    -ms-box-shadow: none;
    -webkit-box-shadow: none;
    border: none;
    box-shadow: none;
    padding: 0;
    width: 200px;
    text-align: right;
  }
  ul {
    list-style: none;
    position: relative;
    left: -2px;
    @extend .clearfix; // Added by SH
  }
  li {
    display: inline-block;
    margin: 3px;
    border: 5px solid $white;
    width: 84px;
    height: 77px;
    position: relative;
    overflow: hidden;
    background-color: $black;
    float: left; // Added by SH
    a {
      position: absolute;
      display: block;
      height: 77px;
    }
    img {
      position: absolute;
      top: 0;
    }
  }
  .more-link {
    color: #a4896a;
    padding-right: 0.5em;
    font-weight: bold;
    .arrow {
      color: $cu-red;
    }
  }
}