@import "shared/colors.scss";

.page-content {
	margin-left: 185px;
  margin-top: 35px;
  margin-right: 40px;
  overflow: hidden;
}

.sub-heading {
  font-weight: 100;
  color: #353430;
  line-height: 1.16666666666667;
  line-height: 1.75rem; /* 28px */
	margin-top: 60px;
	margin-bottom:50px;
	padding-bottom: 20px;
	border-bottom: 1px dashed #BBB;
  font: "proxima-nova-soft","Helvetica Neue","Microsoft Sans Serif",sans-serif;
}

/* *** Color Palette **** */
.palette {
  padding: 10px;
}

.standard, .backgrounds {
  margin-top: 0.5em;
  border: solid $black 0.8px;
  border-radius: 3px;
  display: inline-block;
  width: 220px;
  box-sizing: border-box;
  text-align: center;
  padding: 15px;
  box-shadow:0px 1px 0px 0px rgba(0,0,0,0.1),0px 2px 1px 0px rgba(0,0,0,0.12);
}

.accents {
  margin-top: 0.5em;
  border: solid $black 0.8px;
  border-radius: 3px;
  display: inline-block;
  width: 180px;
  box-sizing: border-box;
  text-align: center;
  padding: 15px;
  box-shadow:0px 1px 0px 0px rgba(0,0,0,0.1),0px 2px 1px 0px rgba(0,0,0,0.12);
}

.standard p, .accents p, .backgrounds p {
  color: #fff;
}

#warm-gray p, #cool-gray p , #gray-mist p, #gray-cement p, #light-green p, #yellow p, #gray-smoke p, #gold p, #bg-light-gray p, #bg-silver-gray p, #bg-off-white p {
  color: #333;
}

#red {
  background-color: $red;
}

#black {
  background-color: $black;
}

#warm-gray {
  background-color: $warm-gray;
}

#cool-gray {
  background-color: $cool-gray;
}

#blue {
  background-color: $blue;
}

#light-blue {
  background-color: $light-blue;
}

#green {
  background-color: $green;
}

#light-green {
  background-color: $light-green;
}

#yellow {
  background-color: $yellow;
}

#gold {
  background-color: $gold;
}

#orange {
  background-color: $orange;
}

#purple {
  background-color: $purple;
}

#gray-slate {
  background-color: $gray-slate;
}

#gray-smoke {
  background-color: $gray-smoke;
}

#gray-mist {
  background-color: $gray-mist;
}

#gray-cement {
  background-color: $gray-cement;
}

#bg-light-gray {
  background-color: $bg-light-gray;
}

#bg-silver-gray {
	background-color: $bg-silver-gray;
}

#bg-off-white {
	background-color: $bg-off-white;
}

#bg-red {
	background-color: $bg-red;
}

/* *************** */

/* ***Typography**** */

#pn100 {
  font-weight: 100;
}
/* ************ */

#title {
	font-size: 45px;
	padding-bottom: 0.75em;
  padding-top: 38px;
  border-bottom: 2px dashed #000000;
}

.home img {
  height: auto;
  width: 30%;
  float: left;
  margin-right: 50px;

}

#icons, #organisms, #molecules, #layout {
  padding-top: 1em;
}

#layout {
  padding-top: 3em;
}

#style {
  padding-top: 20px;
}

/********* NAV BAR ***********/
/* Define the body style */
#navbar {
    font-family: "futura-pt", sans-serif;
    font-size: 80%;
    text-transform: uppercase;
    position: fixed;
    z-index: 99999;
    left: 0;
    top: 0;
    height: 100%;
    background: #333;
}
/* We remove the margin, padding, and list style of UL and LI components */
 #navbar ul, #navbar ul li {
    margin:0;
    padding:0;
    list-style:none;
}
/* We apply background color and border bottom white and width to 150px */
 #navbar ul li {
    background: #333;
    border-bottom: 1px solid #393939;
    color: #ccc;
    display: block;
    margin: 0;
    text-decoration: none;
    font-weight: 100;
    width:12em;
    cursor: pointer;
    position: relative;
}

 #navbar ul li a:hover {
    background: #fff;
    color: #A82439;
}

 #navbar ul li a {
    padding:20px 15px;
    width: 100%;
    box-sizing: border-box;
    color:#ffffff;
    display:inline-block;
    text-decoration:none;
}
/**** SECOND LEVEL MENU ****/

 #navbar ul li ul {
    position:fixed;
    display:none;
}

 #navbar ul li:hover ul {
    left:153px;
    top: 0;
    position: absolute;
    display:block;
}

 #navbar ul li ul li {
    background: #333;
}

 #navbar ul li:hover ul li a:hover {
    background: #fff;
    color: #A82439;
}

 #navbar ul li ul li a {
    padding:20px 15px;
    width: 100%;
    box-sizing: border-box;
    color:#ffffff;
    display:inline-block;
    text-decoration:none;
}

 .clear {
    clear:both;
}

.new_icons {
  display: inline-block;
  width: 15%;
  height: 80px;
  padding-bottom: 50px;
}





