// Helpers
@import "helpers/_variables"; // Common helper
@import "helpers/_mixins"; // Common helper

.smallMasthead .masthead, .smallMasthead .masthead-old, .bigMasthead .mastheadPlaceholder, .bigMasthead .masthead, .bigMasthead .masthead-old, .nameBar, .rightColumn .styleTwo {
	background: $theme-yellow; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover, $scst-primary 1%, $scst-secondary 93%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(1%,$scst-primary), color-stop(93%,$scst-secondary)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover, $scst-primary 1%,$scst-secondary 93%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover, $scst-primary 1%,$scst-secondary 93%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover, $scst-primary 1%,$scst-secondary 93%); /* IE10+ */
	background: radial-gradient(center, ellipse cover, $scst-primary 1%,$scst-secondary 93%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$scst-primary}', endColorstr='#{$scst-secondary}',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.rightColumn .styleTwo {
  .border {
    background-color: $scst-tertiary;
  }
  .editableContent {
    p {
      color: $white;
    }
    a {
      color: $scst-tertiary;
      text-decoration: underline;
    }
  }
}

.nameBarButtons li a {
  color: $scst-primary;
}

.expandedNameBarContainer {
  h2, .copy {
    color: $theme-light-grey;
  }
  a {
    color: $theme-light-grey;
    text-decoration: underline;
  }
}

#social_follow_us {
  .banner {
    background-image: url('[system-asset]/_files/social_accounts/images/scst_follow_us.png[/system-asset]');
  }
  li span {
    &.hover_state, &.inactive_state {
      background: url('[system-asset]/_files/social_accounts/images/scst_icons.png[/system-asset]');
    }
  }
}

.rounded-slider .info-container .blue {
  background-color: $scst-primary;
}

.newbutton a {
  border: 1px solid $scst-primary;
  background-color: $scst-primary;
  background-image: -webkit-gradient(linear, left top, left bottom, from($scst-primary), to($scst-secondary));
  background-image: -webkit-linear-gradient(top, $scst-primary, $scst-secondary);
  background-image: -moz-linear-gradient(top, $scst-primary, $scst-secondary);
  background-image: -o-linear-gradient(top, $scst-primary, $scst-secondary);
  background-image: linear-gradient(to bottom, $scst-primary, $scst-secondary);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$scst-primary}', endColorstr='#{$scst-secondary}',GradientType=1 );
  &:hover {
    border: 1px solid $scst-primary;
    background-color: $scst-primary;
    background-image: -webkit-gradient(linear, left top, left bottom, from($scst-primary), to($scst-secondary));
    background-image: -webkit-linear-gradient(top, $scst-primary, $scst-secondary);
    background-image: -moz-linear-gradient(top, $scst-primary, $scst-secondary);
    background-image: -o-linear-gradient(top, $scst-primary, $scst-secondary);
    background-image: linear-gradient(to bottom, $scst-primary, $scst-secondary);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$scst-primary}', endColorstr='#{$scst-secondary}',GradientType=1 );
  }
}

.midPhotoCallouts .photoCallout .caption {
  background-color: $scst-primary;
}

.photoCallouts {
  .caption, .rollover {
    background-color: $scst-primary;
  }
}