
/***************************************************
* Defaults
***************************************************/

$font-stack-body: "proxima-nova-soft", "Helvetica Neue", "Microsoft Sans Serif", sans-serif;
$font-stack-heading: "proxima-nova", "Helvetica Neue", "Microsoft Sans Serif", sans-serif;
$font-size-base: 14px;
$line-height-base: 14px;

/***************************************************
* Links
***************************************************/

a, a:link, a:visited {
	text-decoration: none;
	color: $color-chapman-red;
	cursor: pointer;
}

a:focus, a:hover, a:active {
	color: lighten($color-chapman-red, 10%);
}

p {
	a { position: relative; color: $color-dark-gray; }
	a::after {
		content: "";
		display: block;
		position: absolute;
		bottom: 0;
		width: 100%;
	}
}

a.alt::after {
	content: "»";
	padding-left: 0.25em;
	transition: padding 100ms;
}


/***************************************************
* Headers and Content
***************************************************/

html {
	box-sizing: border-box;
	font: 100%/1 $font-stack-body;
	‑webkit‑text‑size‑adjust: 100%;

	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

p {
	color: #383838;
	font-size: .875em; /* 14px */
	line-height: 1.42857142857143;
	line-height: 1.25rem; /* 20px */
}

h1, h2, h3, h4, h5, h6 {
	font-family: $font-stack-heading;
	font-weight: 800;
	color: #353430;
}

h1 {
	font-size: 2.25em; /* 36px */
	line-height: 1.06666666666667;
	line-height: 2rem; /* 32px */
}

h2, h3 {
	font-size: 1.75em; /* 28px */
	line-height: 1.16666666666667;
	line-height: 1.75rem; /* 28px */
}

h4, h5, h6 {
	font-size: 1.25em; /* 20px */
	line-height: 1.2;
	line-height: 1.5rem; /* 24px */
}


/***************************************************
* Headings and content ≥ 1472 (extra large desktop)
***************************************************/

@media (min-width: 1472px) {
	p {
		font-size: 1em; /* 16px */
		line-height: 1.5em;
		line-height: 1.5rem; /* 24px */
	}
}
