.funnel {
	.ie7 & {
		.funnelBlock {
		  zoom: 1;
		  display: inline;
		}
	}
	.funnelBlock {
	  display: inline-block;
	  vertical-align: top;
	  width: 300px;
	  // background-color: #f1eedc;
	  padding: 10px;
	  margin: 20px 20px 20px 0;
	  .featureImage {
      text-align: center;
      img {
        border: 3px solid $white;
        -webkit-box-shadow: 0px 0px 7px #434343;
        -moz-box-shadow: 0px 0px 7px #434343;
        box-shadow: 0px 0px 7px #434343;
      }
    }
    h3 {
      // font-family: "Open Sans";
      // font-family: "proxima-nova-soft", sans-serif;
      // font-weight: normal;
      font-weight: 700;
      // font-size: 16px;
      font-size: 18px;
      font-style: normal;
      // color: $cu-red;
      color: $grey;
      padding: 10px 0 5px 0;
      margin: 0;
      clear: both;
      line-height: 1.25;
      a {
        // font-family: "proxima-nova-soft", sans-serif;
        font-weight: 700;
        font-size: 18px;
        font-style: normal;
        color: $grey;
        padding: 10px 0 5px 0;
        margin: 0;
        clear: both;
        line-height: 1.25;
        &:hover {
          color: $cu-red;
        }
      }
    }
    ul {
      list-style-type: none;
      padding: 0;
    }
    li {
      margin: 0 0 3px 0;
    }
    .linkList {
      margin: 10px 0 0 0;
    }
    .copy {
      font-size: 14px;
      color: $grey;
    }
	}
	.more {
    color: $black;
    // font-weight: bold;
    font-weight: 800;
    font-size: 11px;
    // cursor: hand;
    cursor: pointer;
    display: none;
  }
  .region h3 a {
    // font-family: "proxima-nova-soft", sans-serif;
    font-weight: 700;
    font-size: 18px;
    font-style: normal;
    color: $grey;
    padding: 10px 0 5px 0;
    margin: 0;
    clear: both;
    line-height: 1.25;
  }
}

.funnelBlock a {
  &:link, &:visited {
    border-bottom: none;
  }
}
