.button,
a.button {
	background-color: #dad8cf;
	border: none;
	border-radius: 3px;
	color: #353430;
	display: block;
	width: 100%;
	box-sizing: border-box;
	font-size: 14px;
	font-weight:500;
	text-align: center;
	line-height: 16px;
	padding: 12px 20px;
	margin: 6px 0;
 	box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.3);
	

	@include breakpoint(s) {
		display: inline-block;
		width: auto;
		margin: 0;
		text-align: inherit;
	}

	&:hover {
		color: #353430;
		background: #cac8bb;
		transition: background 0.4s ease;
		text-decoration: none;
	}

	&.red,
	&.primary {
		background-color: $color-chapman-red;
		color: #FFF;

		&:hover {
			color: #FFF;
			background: #8b1e2f;
			transition: background 0.4s ease;
		}
	}

	&.blue,
	&.secondary {
		background-color: $color-chapman-blue;
		color: #FFF;

		&:hover {
			color: #FFF;
			background: #356479;
			transition: background 0.4s ease;
		}
	}

	&.gray {
		background-color: $gray-smoke;

			&:hover {
				background-color: #888784;
			}
	}
}
