.button,
a.button {
	background-color: $color-chapman-gray;
	border: none;
	border-radius: 3px;
	color: $color-dark-gray;
	display: block;
	width: 100%;
	box-sizing: border-box;
	font-size: 16px;
	text-align: center;
	line-height: 16px;
	padding: 15px 25px;
	margin: 6px 0;

	@include breakpoint(s) {
		display: inline-block;
		width: auto;
		margin: 0;
		text-align: inherit;
	}

	&:hover {
		color: $black;
		opacity: 0.9;
		text-decoration: none;
	}

	&.red,
	&.primary {
		background-color: $color-chapman-red;
		color: $white;

		&:hover {
			color: $white;
		}
	}

	&.blue,
	&.secondary {
		background-color: $color-chapman-blue;
		color: $white;

		&:hover {
			color: $white;
		}
	}

	&.pointer {
		&:before {
			content: "«";
			margin-right: 2px;
			display: none;
		}
		&:after {
			content: "»";
			margin-left: 2px;
			display: inline-block;
		}

		&:after,
		&:before {
			font-size: 32px;
			vertical-align: sub;
		}

		&.back {
			&:before {
				display: inline-block;
			}
			&:after {
				display: none;
			}
		}
	}

	&.default {
		background-color: $white;
	}

	&.small {
		font-size: 14px;
		padding: 10px 20px;
		&.pointer {
			&:after,
			&:before {
				font-size: 28px;
			}
		}
	}
}
